<html>
<body style="color: black;">
  <style> img.emoji { width: 1em; height: 1em;} </style>
  <div style="max-width: 600px">
    <a href="http://worldtable.co"><img src="http://worldtable.co/images/twt-logo-email.png" width="72" height="29"/></a>
    {% block content %}{% endblock %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="font-size: xx-small">
      To discontinue notifications from The World Table,
      send an e-mail to <a href="mailto:unsubscribe@worldtable.co?subject=Unsubscribe%20me%20please&body=Please%20discontinue%20notification%20e-mail%20to%20{{to}}.%20Thanks.">unsubscribe@worldtable.co</a>.
    </p>
  </div>
</body>
</html>
